[My service]
email=myemail@address.org
username=myusername
# Either put password in plaintext here, ...
# password=
# ...or better via keyring module
# python -m keyring set ewsorgsync USERNAME
# Use Endpoint for your In-House Exchange installation
# endpoint=https://mail.sit.fraunhofer.de/EWS/Exchange.asmx
# Use Server for an Outlook Cloud/Office365 instance
server=outlook.office365.com
output=~/org/cal.org
timeframe=14
date_fmt=%Y-%m-%d
datetime_fmt=%Y-%m-%d %H:%M